<h1>My Best Cocktails</h1>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class='card' style="background-image: url('http://unsplash.it/400/400?')">
        <h2><%= cocktail.name %></h2>
      </div>
    </div>
  <% end %>
</div>


